<link rel='stylesheet' href='/stylesheets/style.css' />

<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

<h2>John Desseenberger</h2>
<img src="/images/your-photo.jpg" alt="Your Name" class="profile-photo">    
<p>Student at Centennial College with over 2 years of experience in coding, designing and building responsive web applications. Passionate about continuous learning and exploring new technologies.</p>
<a href="/resume.pdf" download>Download My Resume!</a>
