<link rel='stylesheet' href='/stylesheets/style.css' />

<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

<h2>Projects</h2>

<div class="project">
    <img src="/images/project1.jpg" alt="Project 1">
    <p><strong>None Yet!</strong> </p>
    <p><strong>Role:</strong></p>
</div>


