<!DOCTYPE html>
<html>
<head>
    <title>[John Dessenberger]'s Portfolio!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar">
    <div class="logo">Your Logo Here</div>
    <div>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/projects">Projects</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </div>
</div>
